body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #f7f9fc;
    color: #333;
  }

  h1 {
    font-size: 27px;
    margin-bottom: 1rem;
  }

  #output {
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    min-height: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }

  #inputField {
    width: 21%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 1rem;
    font-size: 1rem;
  }


  .add {
    display: inline-block;
    padding: 8px 178px;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 5px;
    color: black;
    background-color: white;
  }
  .remove{
    display: inline-block;
    padding: 8px 168px;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 5px;
    color: black;
    background-color: white;
  }

  .add:hover {
    color:white;
    background-color: #45a049;
    border:none;
  }

  .remove:hover {
    color:white;
    background-color: #e53935;
    border:none;
  }

  #output p {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    margin: 0;
  }

  #output p:last-child {
    border-bottom: none;
  }